
.main {
	
    width: 50%;
    margin: 30px auto;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 5px grey;
    padding: 20px;
}

.container-item {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

label.error,
.error-msg {
    color: red;
}

.success-msg {
	color: green;
}

.holder {
	margin: 10px 0px;
}

img {
	height: 200px;
	width: 200px;
	border: 1px solid black;
	border-radius: 10px;
}


.my-btn {
	width: 100%;
}

    
